* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
main{overflow: hidden;}
header {
    text-align: center;
    padding-top: 20px;
}
header h1{font-size: 4em;}
article {
    padding: 20px;
    width: 80%;
    float: left;
    text-align: center;
}
article h2{padding: 5px;}
article a{text-decoration: underline;
color: black;}
article img{width: 100%;
display: block;
margin: 0 auto;
padding-bottom: 20px;}

aside{width: 20%;
float: left;}
aside img{width: 95%;
display: block;
margin: 0 auto;
padding: 20px;}
footer{background-color: black;
color: white; text-align: center;padding: 20px;}

@media(width<400px){aside,article{width: 100%;}body{padding: 0;
font-size: 0.5em;}aside{overflow: hidden;}aside img{width: 33%;float: left;}}